{% extends 'base.html.twig' %}

{% block title %}Edit Kategorie{% endblock %}

{% block body %}
    <h1>Edit Kategorie</h1>

    {{ include('kategorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('kategorie_index') }}">back to list</a>

    {{ include('kategorie/_delete_form.html.twig') }}
{% endblock %}
